.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 13px 25px;
  font-size: 15 px;
  cursor: pointer;
}

.send-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.send-div {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
}
