.chat-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-robot {
  display: flex;
  align-items: start;
}

.chat-text {
  background-color: rgb(238, 238, 238);
  padding: 12px 20px;
  border-radius: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  max-width: 250px;
}

.chat-robot-profile,
.chat-user-profile {
  width: 40px;
  margin-top: 10px;
}
