.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.start-message {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(10, 10, 10);
}
